body {
    background: url(images/background-decor-mobile.png);
    margin: 0;
}

header {
    max-width: 960px;
    margin: 0 auto;
    
    .logo {
        width: 180px;
        height: 50px;
        margin-left: 80px;
        margin-top: 40px;
        margin-bottom: 80px;
    }
}

.conteiner {    
    
    max-width: 960px;
    margin: 0 auto;
    display: block;

   
    .first-screen {
        margin: 0 auto;
    }

    

    .header {
        font-size: 40px;
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 20px;
        margin-top: 0px;
        font-family: 'Mulish', sans-serif;
        font-weight: lighter;
        color: #172b4d;
        line-height: 60px;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.5;
    }

    .description {
        font-size: 20px;
        color: #11223f;
        font-family: 'Mulish', sans-serif;
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 40px;
        line-height: 40px;
    }

    .primary-button {
        background: #1968fc;
        width: 300px;
        height: 50px;
        border: 0px;
        color: #ffffff;
        font-size: 14px;
        font-family: 'Mulish', sans-serif;
        line-height: 20px;
        letter-spacing: 1px;
        font-stretch: inherit;
        margin: 0 auto 60px;
        display: block;
    }

    .illuststiion {
        width: 600px;     
        margin-left: 160px;   
        margin-left: auto;
        margin-right: auto;
        display: block;
    }    
}

.second-screen {
    background: #1968fc;
    height: 180px;
    display: block;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

    .part-one {
        width: 640px;
        margin: 0 auto;
        height: 180px;
        padding-top: 42px;

        .please-visit {
            text-align: center;
            font-size: 24px;
            font-family: 'Mulish';
            color: #ffffff;
            line-height: 2;
            margin: 0;
            vertical-align: middle;
            padding: 0 60px 0 60px;
        }

    }
}

.third-screen {
    margin-bottom: 180px;

    .visability {
        display: flex;
    }

    .personal-card {
        width: 540px;
        height: 280px;
        background: #ffffff;

        .about {
            font-size: 16px;
            font-family: 'Mulish';
            margin-left: 40px;
            margin-right: 40px;
        }
    }
    .personal-data {
        display: flex;
        justify-content: space-between;

        .photo {
            width: 100px;
            height: 100px;
            margin-top: 40px;
            margin-left: 40px;
        }

        .com {
            width: 100px;
            height: 100px;
            padding-top: 10px;
        }

        .person-name {
            margin: 0;
            padding-top: 60px;
            padding-left: 20px;
            font-size: 18px;
            color: #11223f;
            font-family: 'Mulish';
        }

        .position {
            color: #1967fa;
            font-size: 14px;
            font-family: 'Mulish';
            padding-left: 20px;
        }
    }
}

.fourth-screen, .sixts-screen {
   .block-name {
    font-size: 30px;
    font-family: 'Mulish';
    color: #11223f;
    margin-left: 60px;
    margin-bottom: 10px;
    
   }
   .line {
       width: 80px;
       height: 2px;
       background: #1967fa;
       margin-left: 60px;
       margin-bottom: 48px;
   }


    
    .first-second-boxes {
        display: inline-flex;
    }
   
   .box {
       width: 420px;
       height: 200px;
        box-shadow: 8px 20px 40px 5px #acb8ce;
        margin-bottom: 80px;
        margin-left: 60px;

       .content-box {
        background-color: #f3f7ff;
        display: flex;
        margin-bottom: 0px;

           .blue-box {
               width: 80px;
               height: 80px;
               background:  #1967fa;

               .icon {
                width: 40px;
                padding: 20px;
               }
           }
           .box-name {
               font-size: 20px;
               font-family: 'Mulish';
               margin: 20px;
               color: #11223f;
               padding-top: 10px;
           }
       }
       .white-box {
           background: #ffffff;
           height: 120px;
           margin-top: 0px;
           .crisp {
               font-size: 16px;
               font-family: 'Mulish';
               color: #11223f;
               margin-left: 40px;
               margin-top: 0px;
               padding-top: 40px;
               margin-right: 40px;
               
           }
       }
   }

   .all-vocations{
       display: flex;
       flex-wrap: wrap;
   }

   .vocation {
       width: 250px;
       height: 190px;
       box-shadow: 8px 20px 40px 5px #acb8ce;
       margin: 30px;

       .voc-name {
        font-size: 20px;
        color: #1967fa;
        font-family: 'Mulish';
        padding: 20px;
       }
       .voc-description {
        font-size: 16px;
        font-family: 'Mulish';
        margin-left: 20px;
        color: #11223f;
       }
   }
   .box-last {
    width: 420px;
    height: 80px;
    -webkit-box-shadow: 8px 20px 40px 5px #acb8ce;
    box-shadow: 8px 20px 40px 5px #acb8ce;
    margin-bottom: 80px;
    margin-left: 60px;

    
    .content-box {
        
        display: flex;
        margin-bottom: 0px;

           .blue-box {
               width: 80px;
               height: 80px;
               background:  #1967fa;

               .icon {
                width: 40px;
                padding: 20px;
               }
           }
           .box-name {
               font-size: 20px;
               font-family: 'Mulish';
               margin: 20px;
               color: #11223f;
               padding-top: 10px;
           }
       }
    
   }
}

.fives-screen {
    background: #1968fc;
    height: 380px;
    display: block;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

    .part-two {
        width: 640px;
        margin: 0 auto;
        height: 460px;
        padding-top: 42px;

        .dont-know {
            text-align: center;
            font-size: 24px;
            font-family: 'Mulish';
            color: #ffffff;
            line-height: 2;
            margin: 0;
            vertical-align: middle;
            padding: 0 60px 0 60px;
        }

        .schedule {
            color: #ffffff;
            font-size: 20px;
            font-family: 'Mulish';
            padding: 0 60px 0 60px;
        }

        .second-button {
            width: 320px;
            height: 50px;
            background: #ffffff;
            border: 0px;
            color: #1967fa;
            font-size: 16px;
            font-family: 'Mulish';
            margin: 60px;
        }
    }
    .white-line {
        width: 80px;
       height: 2px;
       background: #ffffff;
       margin-left: 60px;
       margin-bottom: 48px;
    }
}

.sixts-screen {
     margin-bottom: 60px;
    .form-name {
        margin-left: 60px;
        border: 0px;
        background: #f3f7ff;
        width: 450px;
        height: 80px;
        opacity: 100%;
        font-size: 30px;
        padding-left: 60px;
        font-family: 'Mulish';
        border-bottom: 2px solid blue;
    }

    .form-email {
        margin-left: 60px;
        border: 0px;
        background: #f3f7ff;
        width: 450px;
        height: 80px;
        opacity: 100%;
        font-size: 30px;
        padding-left: 60px;
        font-family: 'Mulish';
        border-bottom: 2px solid blue;
    }

    .form-massege {
        margin-left: 60px;
        border: 0px;
        background: #f3f7ff;
        width: 450px;
        height: 160px;
        opacity: 100%;
        font-size: 30px;
        padding-left: 60px;
        font-family: 'Mulish';
        border-bottom: 2px solid blue;
        margin-bottom: 30px;
    }

    .long-line {
            width: 450px;
            height: 2px;
            background: #1967fa;
            margin-left: 120px;
            margin-bottom: 30px;
    }

    .primary-button-rside  {
        background: #1968fc;
        width: 300px;
        height: 50px;
        margin-left: 270px;
        margin-bottom: 80px;
        border: 0px;
        color: #ffffff;
        font-size: 14px;
        font-family: 'Mulish', sans-serif;
        line-height: 20px;
        letter-spacing: 1px;
        font-stretch: inherit;
    }

    .google-map {
        width: 800px;
        height: 400px;
        margin-bottom: 120px;
    }
    
}



.footer-region {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;

    .footer-logo {
        display: flex;
    }

    .mini-logo {
        width: 80px;
        height: 80px;
    }

    .footer-description {
        font-size: 24px;
        font-family: 'Mulish';
        color: #1968fc;
        background: #f3f7ff;
        padding: 25px;
        margin: 0;
    }

    .social-networks {
        margin-left: 280px;

        .facebook {
            height: 50px;
            padding: 20px;
        }
        .instagram {
            height: 50px;
            padding: 0px 0px 20px;
        }

    }

    

}

.links {
    .link {
        text-decoration: none;
        margin: 35px;
        font-size: 16px;
        font-family: 'Mulish';
        color: #172b4d;
    }
    margin-bottom: 60px;
    .funny-man {
        height: 80px;
    position: absolute;
    margin-left: 50px;
    }
}